apiVersion: v1
kind: Pod
metadata:
  name: mypod2
spec:
  containers:
    - name: mycontainer
      image: httpd:latest
      volumeMounts:
        - name: config-volume
          mountPath: /etc/config
  volumes:
    - name: config-volume
      configMap:
        name: my-configmap      #(must match the name of configMap)
